# backend/requirements.txt
fastapi==0.111.0
uvicorn[standard]==0.30.1
pandas==2.2.2
numpy==1.26.4
supabase==2.4.6
requests==2.32.2
jinja2==3.1.4
matplotlib==3.8.4
scipy==1.13.0
reportlab==4.2.2
python-dotenv==1.0.1
beautifulsoup4==4.12.3
multitasking==0.0.13
platformdirs==4.3.6
peewee==3.19.0
protobuf>=3.19.0,<6.0
pytz>=2022.5
websockets>=13.0
